---
layout: default
---

<div class="home" id="home">
  <h1 class="pageTitle">{{ page.title }}</h1>
  <ul class="posts noList">
    {% if site.categories[page.category] %}
        {% for post in site.categories[page.category] %}
          {% include get-category.html %}
          <li>
            <span class="date">{{ post.date | date: '%B %d, %Y' }} | {{ category_content }}</span>
            <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
          </li>
        {% endfor %}
    {% else %}
        <li>
          <h3>There are no posts in this category.</h3>
        </li>
    {% endif %}
  </ul>
  {% include pagination.html %}
  </div>
</div>
